<h1>Karten</h1>

<ul role="list" class="custom-grid">
    {%- for karte in karten -%}
    <li class="box print-no-break">
        <h3>{{ karte.titel }}</h3>
        <ul>
            <li>Quantität: {{ "∞" if karte.quantitaet === (1 / 0) else karte.quantitaet }}</li>
            <li><strong>Beschreibung</strong><br/>{{ karte.beschreibung }}</li>
        </ul>
        <div class="tags">{%- for tag in karte.tags -%}<span>{{tag}}</span>{%- endfor -%}</div>
    </li>
    {%- endfor -%}
</ul>
