<h1>Karten</h1>

<ul role="list">
    {%- for karte in karten -%}
    <li>
        <ul>
            <li>Titel: {{ karte.titel }}</li>
            <li>Quantität: {{ "∞" if karte.quantitaet === (1 / 0) else karte.quantitaet }}</li>
            <li>Beschreibung: {{ karte.beschreibung }}</li>
            <li>Char: {{ karte.charakterTag }}</li>
        </ul>
    </li>
    {%- endfor -%}
</ul>
