<!DOCTYPE html>
<html lang="de">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
  <link rel="stylesheet" href="/public/custom.css">
  <link rel="stylesheet" href="/public/print.css" media="print">
  <title>{{ title + ' | ' if title }}DND Light | Gilde der Nacht</title>
</head>

<body style="min-height: 100vh; display: grid; grid-template-rows: 1fr max-content;">
  <div>
    <footer class="footer only-for-print">
      <p><strong>DND Light</strong> verfügbar unter <a
          href="https://dnd-light.gildedernacht.ch/">dnd-light.gildedernacht.ch</a></p>
      <p><small><em>von Gilde der Nacht (<a href="https://gildedernacht.ch/">www.gildedernacht.ch</a>) | Version 2022-2
            | Zuletzt angepasst:
            {{timestamp}}</em></small></p>
    </footer>
    <div class="container">
      <div class="content">
        {% if page.filePathStem !== "/index" %}
        <section class="section hide-in-print">
          <a href="/">
            <- Startseite</a>
        </section>
        {% endif %}
        <section class="section">
          {{ content | safe }}
        </section>
        {% if page.filePathStem !== "/index" %}
        <section class="section hide-in-print">
          <a href="/">
            <- Startseite</a>
        </section>
        {% endif %}
      </div>
    </div>
  </div>
  <footer class="footer only-for-print">
    <p><strong>DND Light</strong> verfügbar unter <a
        href="https://dnd-light.gildedernacht.ch/">dnd-light.gildedernacht.ch</a></p>
    <p><small><em>von Gilde der Nacht (<a href="https://gildedernacht.ch/">www.gildedernacht.ch</a>) | Version 2022-2 |
          Zuletzt angepasst:
          {{timestamp}}</em></small></p>
  </footer>
  <footer class="footer hide-in-print">
    <div class="content has-text-centered">
      <p><small><em>von <a href="https://gildedernacht.ch/">Gilde der Nacht</a> | Version 2022-2 | Zuletzt angepasst:
            {{timestamp}}</em></small></p>
    </div>
  </footer>
</body>

</html>
