<!DOCTYPE html>
<html lang="de">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
  <title>{{ title + ' | ' if title }}DND Light | Gilde der Nacht</title>
  <style>

body {
  font-size: 120%;
}

<!-- just ugly examples -->

.example {
  border: 1px solid #99f;
  border-radius: 5px;
  background: #eef;
  padding: 5px;
}

.dialogue {
  margin-top: 10px;
  margin-bottom: 10px;
  border-left: 5px solid #9f9;
  background: #efe;
  padding: 5px;
}

.challenge {
  margin-top: 10px;
  margin-bottom: 10px;
  border-left: 5px solid #f99;
  background: #fee;
  padding: 5px;
}

a {
  font-weight: bold;
  text-decoration: underline;
}

/* just to see a difference between h2 and h3, can be removed later */
.content h3 {
  font-size: 100%;
}

.action {
  color: blue;
}


  </style>
</head>

<body style="min-height: 100vh; display: grid; grid-template-rows: 1fr max-content;">
  <div>
    <div class="container">
      <div class="content">
        {% if page.filePathStem !== "/index" %}
        <section class="section">
          <a href="/">
            <- Startseite</a>
        </section>
        {% endif %}
        <section class="section">
          {{ content | safe }}
        </section>
        {% if page.filePathStem !== "/index" %}
        <section class="section">
          <a href="/">
            <- Startseite</a>
        </section>
        {% endif %}
      </div>
    </div>
  </div>
  <footer class="footer">
    <div class="content has-text-centered">
      <p><small><em>von <a href="https://gildedernacht.ch/">Gilde der Nacht</a> | Version 2022-2 | Zuletzt angepasst:
            {{timestamp}}</em></small></p>
    </div>
  </footer>
</body>

</html>
